body{
    background-color: #E3DCCC;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
a{
    text-decoration: none;
}

/*TOP PAGE */
.head{
    color: #4B4859;
    padding: 3rem;
    font-family: "Familjen Grotesk";
    text-align: center;
    font-size:2rem;
}

/*TOP PAGE*/

/*GREET-PC*/
.container{
    width: auto;
    height: auto;
    font-family: "Familjen Grotesk";
    color: #4B4859;
    
}
.greet{ 
    font-weight: lighter;
    position: relative;
    font-size: 5rem;
    width: max(2vh,50rem);
    text-align: center;
    top: 5rem;
    left: 0%;
}

#face{
    position:fixed;
    left: 67%;
    top: 32%;
    width: 25%;
    height: auto;
}
/*GREET-PC*/

/*GREET-PHONE*/
#burguerTwo{
    position: relative;
    left: 2rem;
    top: 30rem;
    font-family: "Familjen Grotesk";
    color: #4B4859;
    font-size: 3rem;
    visibility: collapse;
}
/*GREET-PHONE*/

/*PHONE SCREEN ADJUSTMENT*/
@media only screen and (max-width: 26.875rem){
    body {
        width: 26.875rem;
        overflow-x: hidden;
        width: 100%;
        overflow-y: hidden;
        width: 100%;
        border: solid,#4B4859;
        height: 100%;
    }
    .head{
        font-size: 1.5rem;
    }
    /*greet*/
       
    /*greet*/
    #face{
        position:fixed;
        left:6rem;
        top: 11rem;
        width: 50%;
        height: auto;
        
    }
}
/*PHONE SCREEN ADJUSTMENT*/

