:root {
    --step--2: clamp(0.5rem, 0.9489rem + -0.5792vw, 0.8403rem);
    --step--1: clamp(1rem, 1.011rem + -0.0142vw, 1.0083rem);
    --step-0: clamp(1.21rem, 0.9579rem + 1.3447vw, 2rem);
    --step-1: clamp(1rem, 0.6388rem + 4.337vw, 4rem);
    --step-2: clamp(1.7424rem, -0.2547rem + 10.6512vw, 8rem);
    --step-3: clamp(2.0909rem, -2.3482rem + 23.6751vw, 16rem);
    --step-4: clamp(2.5091rem, -6.9029rem + 50.1974vw, 32rem);
    --step-5: clamp(3.0109rem, -16.4537rem + 103.8113vw, 64rem);
}

body{
    background-color: #E3DCCC;
    margin: 0;
    height: 100%;
    overflow: hidden;
    
}
a{
    text-decoration: none;
}

/*TOP PAGE */
.head{
    color: #4B4859;
    padding: 3rem;
    font-family: "Familjen Grotesk";
    text-align: center;
    font-size:2rem;
    font-size: var(--step-0);
}

/*TOP PAGE*/

/*GREET-PC*/
.container{
    display: flex;
	justify-content: center;
    justify-content: center;
	align-content: center;
}
.greet{ 
    font-family: "Familjen Grotesk";
    color: #4B4859;
    font-weight: lighter;
    position: relative;
    text-align: center;
    font-size: var(--step-1);
}

#face{
   
    width: 100%;
    height: auto;
}
/*GREET-PC*/





