/* styling:
    --- footer
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
    margin: 0;
}
:root{
    --primary-clr: #131313;
    --primary-sec:  #E3DCCC;
}
body{
    font-family: "Sometype Mono", monospace;
    font-size: 1rem;
}
.name__title,
.name__subtitle{
    color: var(--primary-sec);
}
.container-name{
    margin: 0 auto;
    width: min(90%,344px);
}
.container{
    margin: 0 auto;
    width: min(90%,1000px);
}
.name{
    background-color: var(--primary-clr);
    height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work{
    background-color: #E3DCCC;
    padding-top: 2em;
    padding-bottom: 2em;
}
.work h4{
    padding-top: 1em;
}
.project__link{
    display: inline-block;
    color: var(--primary-clr);
    text-decoration: none;
    margin-top: 0.5em;
    position: relative;
    padding-bottom: .1em;
}
.project__link::after{
    content: '';
    height: 1px;
    width: 100%;
    background:var(--primary-clr);
    border-radius: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition:100ms;
}
.project__link:hover::after{
    width: 0;
}
.project__link:hover{
    font-weight: bold;
}