*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
    margin: 0;
}
:root{
    --primary-clr: #131313;
    --primary-sec:  #E3DCCC;
    --secondary : #9E0031;
    --projects-row-width: 50%;
}
@keyframes fade-in{
    0%{opacity: 0};
    100%{opacity: 1;}
}
a{
    text-decoration: none;
    color: var(--primary-clr);
}
body{
    font-family: "Sometype Mono", monospace;
    font-size: 1rem;
}
.name__title,
.name__subtitle{
    color: var(--primary-sec);
    animation-name:fade-in;
    animation-duration: 5s;
}
.container-name{
    margin: 0 auto;
    width: min(90%,344px);
}
.container{
    margin: 0 auto;
    width: min(90%,1000px);
}
.name{
    background-color: var(--primary-clr);
    height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work{
    background-color: #E3DCCC;
    padding-top: 2em;
    padding-bottom: 2em;
}
.work h4{
    padding-top: 1em;
}
.animation{
    animation-name:fade-in;
    animation-duration: 3s;
}
.project__title{
    text-align: center;
}
.project__link{
    display: inline-block;
    margin-top: 0.5em;
    position: relative;
    padding-bottom: .1em;
}
.project__link::after{
    content: '';
    height: 1px;
    width: 100%;
    background:var(--primary-clr);
    border-radius: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition:100ms;
}
.project__link:hover::after{
    width: 0;
}
.project__link:hover{
    font-weight: bold;
}
.footer{
    background-color: var(--secondary);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.footer__flex{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:80px;
}

@media (min-width: 700px){
    .projects__row{
        justify-content: space-between;
        display: flex;
        gap: 50px;
    }
    .project__one{
        width: var(--projects-row-width);
    }
    .project__two{
        width: var(--projects-row-width);
    }
    .project__three{
        width: var(--projects-row-width);
    }
    .project__four{
        width: var(--projects-row-width);
    }
}