*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e3dccc;
}
.container{
  width: 70rem;
  height: 20rem;
  margin: 0 auto; /*top and bottom are 0| left and right are auto by browser*/
  /* border: solid black; */
}
.box {
  background-color: #d6c8b2;
  padding: 0.5rem;
  color: #4b4859;
  border-radius: 1rem;
}
.text {
  vertical-align: middle;
  font-size: 1.5rem;
  font-family: Helvetica;
}
.fa-html5 {
  transform: scale(7, 7);
}
.fa-css3-alt {
  transform: scale(7, 7);
}
.fa-js {
  transform: scale(7, 7);
}
.fa-python{
  transform: scale(7, 7);
}
#elementOne {
  width: 40rem;
  height: 11rem;
}
#elementTwo {
  width: 15rem;
  height: 2.6rem;
  font-weight: bold;
}
#elementThree {
  width: 12rem;
  height: 11rem;
}
#elementFour {
  width: 40rem;
  height: 11rem;
}
#text1 {
  font-size: 5rem;
}
#text3 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}
#text3:hover {
  background-color: #e3dccc;
  border: 0.2rem solid #c2a77c;
  color: black;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.8rem;
}
#face{
  max-width: 15rem;
  height: auto;
}