
.bigBox{
    margin-top: 5rem;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#elementOne{
    flex-direction: column;
    justify-content: center;
}
#elementTwo{
    margin-left: 13rem;
    margin-bottom: 1rem;
}
#elementThree{
    flex-direction: column;
    justify-content: space-evenly;
}
#elementFour{
    justify-content: space-evenly;
    align-items: center;
}