body{
    background-color: #E3DCCC;
}
.box{
    background-color: #D6C8B2;
    padding: 0.5rem;
    border: solid;
    border-color: #D6C8B2;
    color: #4B4859;
    border-radius: 1rem;
}
.text{
    vertical-align: middle;
    font-size: 1rem;
    font-family: Helvetica;
}
.fa-html5{
    transform: scale(3.5,3.5);
}
.fa-css3-alt{
    transform: scale(3.5,3.5);
}
.fa-js{
    transform: scale(3.5,3.5);
}
#elementOne{
    width:  24rem;
    height: 6rem;
}
#elementTwo{
    width:  9.5rem;
    height: 0.9rem;
    font-weight: bold;
}
#elementThree{
    width:  7.8rem;
    height: 5.5rem;
}
#elementFour{
    width:  24rem;
    height: 6rem;
}
#text1{
    font-size: 3rem;
}
#text3{
    text-align: center;
    
}
#text4{
    text-align: center;
    
}
#iconHtml{
    margin-top: 11%;
    margin-left: 10%;
}
#iconCss{
    margin: 8%;
}
#iconJs{
    margin: 5%;
}
#iconKotlin{
    transform: scale(0.5,0.5);
}









